@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Bai Jamjuree", sans-serif;
}

section {
  scroll-margin-top: 2rem;
}

/* Navbar */
nav.navbar {
  background-color: #d7e486;
}

.line {
  width: 0;
  height: 3px;
  border-radius: 10px;
  /* background-color: rgb(209, 32, 32); */
  background-color: #83c373;
  transition: all 0.5s ease-in-out;
}

.navbar .nav-link {
  color: black;
}

.navbar .btn-sign .btn {
  border: 3px solid #d7e486;
  color: white;
  border-radius: 10px;
  /* text-shadow: 1px 1px 1px #333; */
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .btn-sign .btn:hover {
  color: black;
  background-color: #83c373;
  text-shadow: none;
}

.navbar-nav .nav-link.active {
  /* color: rgb(209, 32, 32); */
  color: #83c373;
}

.nav-link:hover {
  /* color: rgb(209, 32, 32); */
  color: #83c373;
}

.item-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-group:hover .line {
  width: 50px;
  height: 3px;
}

/* Hero */
.cover {
  background-color: black;
  opacity: 0.65;
  width: 100%;
  height: 100vh;
}

.hero.parallax {
  background: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* .parallax {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
} */

/* #hero {
  background: url(assets/hero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.hero .btn-book .btn {
  border: 3px solid #d7e486;
  color: white;
  border-radius: 30px;
  text-shadow: 2px 2px 10px #333;
  padding-left: 20px;
  padding-right: 20px;
}

.hero .btn-book .btn:hover {
  color: black;
  background-color: #d7e486;
  text-shadow: none;
}

/* Staff */
.staff-profil img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 7px solid #cccccc;
}

/* Footer */
footer {
  /* background-color: #333; */
  background-color: #d7e486;
  color: black;
}

footer h1 {
  font-size: 20px;
}

.logo img {
  width: 100px;
  margin-right: 30px;
}

.baseline {
  /* background-color: rgb(209, 32, 32); */
  background-color: #83c373;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.ikon a {
  text-decoration: none;
  color: white;
  width: 50px;
  height: 50px;
  /* background-color: #797979; */
  background-color: rgba(155, 155, 155, 0.459);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  margin-right: 5px;
}

.ikon a.ig:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  transform: rotate(360deg);
}

.ikon a.x:hover {
  background-color: #000000;
  transform: rotate(360deg);
}

.ikon a.yt:hover {
  background-color: #ff0000;
  transform: rotate(360deg);
}

.ikon a.tk:hover {
  background-color: #000000;
  text-shadow: 1px 1px #e71d4f, -1px -1px #65c3c9;
  transform: rotate(360deg);
}

.ikon a.fb:hover {
  background-color: #207bf3;
  transform: rotate(360deg);
}

.ikon a i {
  font-size: 20px;
}

.futer {
  border-bottom: 1px solid rgb(155, 155, 155);
}

.input-byn:hover .btn {
  color: #fff;
}
